html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/*
## Details

- *Typefaces:* `Merriweather` (regular, bold)
- *Text sizes:* `2rem`, `1.125rem`
- *Colours:* `#d05c2e`, `#a63f38`, `#fff`
- *Margins:* `0`
- *Paddings:* `0`, `.5em 0`, `.4rem 0`
- *Grain icon width:* `40px`
*/
